{% extends 'page.html' %}

{% block page_title %}
Business seekers
{% endblock %}

{% block page_content %}
<div class="col-md-4">
<h3>Our planned service offering</h3>
<p>
Business seekers receive free analysis on specific business
sites, links to available long- and short-term rentals, and
can search and filter both existing and vacant businesses by
revenue, rental cost and rental area. They can compare and
assess business revenue potential between different cities,
and create a custom profile to receive alerts related to
matching business opportunities, including sites offered for
long- and short-term leases.
</p>
</div>

<div class="col-md-8">
<img src="/static/business.png" class="img-responsive img-thumbnail center-block">
</div>
</div>

<div class="panel-footer">
This page presents a proposed service offering as well as a
mockup of that view. This is not a product offer.
</div>
{% endblock %}
