{% extends 'page.html' %}

{% block page_title %}
Local Councils and BIDs
{% endblock %}

{% block page_content %}
<div class="col-md-4">
<h3>Our planned service offering</h3>

<p>
Local councils and Business Improvement Districts receive
structured analysis to improve the way they manage urban
renewal projects and attract investment to their city. They
can compare their retail and commercial tenant mix to other
cities, and evaluate the impact of changes on occupancy over
time. Adding in their footfall data can reveal how business
activity varies with pedestrian density and potentially
offer insight into new ways to attract people.
</p>
</div>

<div class="col-md-8">
<img src="static/council.png"  class="img-responsive img-thumbnail">
</div>
</div>

<div class="panel-footer">
This page presents a proposed service offering as well as a
mockup of that view. This is not a product offer.
</div>
{% endblock %}
