{% extends 'page.html' %}

{% block page_title %}
Home
{% endblock %}

{% block page_content %}
<p>
Pikhaya Smart Streets offers market intelligence to assess
the business potential in empty commercial property in urban
centres. We aggregate local consumer purchasing behaviour
and pedestrian footfall, as well as existing local business
rent and salary expenditure, to offer insight into revenue
potential for different categories of new business starts,
and in cities across the UK.
</p>

<p>
<div class="alert alert-info" role="alert">
This site presents a very early prototype (pre-alpha)
based on our pilot in Leeds and Sunderland.
</div>
</p>
{% endblock %}
