{% extends 'page.html' %}

{% block page_title %}
Landlords and Letting Agents
{% endblock %}

{% block page_content %}
<h3>Our planned service offering</h3>

<p>
Landlords and letting agents can use the analysis as part of
their marketing to attract tenants, as well as compare their
rental returns, rates assessments and revenue potential in
context with other sites. They gain context, as well as
insight into business seeker queries, so that they can
adjust their rents, or assess other commercial
opportunities.
</p>

<img src="static/14_WTK_SmartStreets_Website_Ideas_v2-1.png"  class="img-responsive img-thumbnail">

<p>
<div class="alert alert-info" role="alert">
This page presents a proposed service offering as well as
a mockup of that view. This is not a product offer.
</div>
</p>
{% endblock %}
