{% extends 'page.html' %}

{% block page_title %}
Landlords and Letting Agents
{% endblock %}

{% block page_content %}
<div class="col-md-4">
<p>
Landlords and letting agents with an online presence, where 
they list commercial properties for rental, will benefit 
from integrating Pikhaya's analysis into their web 
services. Our analytic dashboards, served alongside existing 
property offerings, will improve engagement with their
users. 
</p>
<p>
Landlords and letting agents can use the analysis as part of
their marketing to attract tenants, as well as compare their
rental returns, rates assessments and revenue potential in
context with other sites. They gain context, as well as
insight into business seeker queries, so that they can
adjust their rents, or assess other commercial
opportunities.
</p>
</div>

<div class="col-md-8">
<img src="static/landlord.png"  class="img-responsive img-thumbnail center-block">
</div>
</div>

<div class="panel-footer">
This page presents a proposed service offering as well as
a mockup of that view. This is not a product offer.
{% include "odine.html" %}
</div>
{% endblock %}
