{% extends 'base.html' %}

{% block content %}


<div id="premises-content" style="display:none">

<div class="panel panel-default page-content">
  <div class="panel-heading">
    <h1 id="map-city" class="panel-title">
      City
    </h1>
  </div>

  <div class="panel-body">

    <div class="col-md-8">
<div id="tabs">

  <!-- Nav tabs -->
  <ul>
    <li><a id="maptab-nav" href="#map"><span>Map</span></a></li>
      <li><a id="listtab-nav" href="#list"><span>Listing</span></a></li>
  </ul>

    <!-- Tab panes start -->

    <div id="maptab" style="padding:5px 0px 10px 0px;">
      <div id="map" style="width:100%;height:100%;"></div>
    </div>
    <div id="listtab" style="padding:5px 0px 10px 0px;">
      <div id="list" style="width:100%;height:100%;overflow:auto;padding:10px;"></div>
    </div>

    <!-- Tab panes end -->

  </div>
  </div>



<!-- controls div start -->

    <div class="col-md-4">

<form>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <div class="panel-body">

    <div  class="form-group">
      <label>Premises status:</label>
      <div id="vacant">
        <input type="radio" id="vacant_true" value="true" name="vacant" ><label for="vacant_true">Vacant</label>
        <input type="radio" id="vacant_false" value="false" name="vacant" ><label for="vacant_false">Occupied</label>
        <input type="radio" id="vacant_all" value="all" name="vacant" checked="checked"><label for="vacant_all">All</label>
      </div>
    </div>

    <div  class="form-group">
      <label>Rating:</label>
      <div id="rating">
        <input type="radio" id="rating_good" value="2" name="rating" ><label for="rating_good">Good</label>
        <input type="radio" id="rating_avg" value="1" name="rating" ><label for="rating_avg">Average</label>
        <input type="radio" id="rating_poor" value="0" name="rating" checked="checked"><label for="rating_poor">Poor</label>
        <input type="radio" id="rating_all" value="all" name="rating" checked="checked"><label for="rating_all">All</label>
      </div>
    </div>

    <div  class="form-group">
      <p>
        <label for="revenue">Revenue:</label>
        <input type="text" id="revenue" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="revenue-range"></div>
    </div>

    <div  class="form-group">
      <p>
        <label for="rental">Rental:</label>
        <input type="text" id="rental" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="rental-range"></div>
    </div>

    <div  class="form-group">
      <p>
      <label for="size-m2">Size m<sup>2</sup>:</label>
        <input type="text" id="size-m2" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="size-m2-range"></div>
    </div>

    <div  class="form-group">
      <label for="business-type">Business type:</label>
      <select id="business-type"></select>
    </div>

  </div>
</div>
</form>
</div>

    <div class="col-md-4">
<form>
<div id="map-extras" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Map</h3>
  </div>
  <div class="panel-body">

    <div  class="form-group">
      <label for="map-tiles">Tiles:</label>
      <select id="map-tiles"></select>
    </div>

    <div  class="form-group">
      <button id="map-reset" type="button" >Reset map</button>
    </div>

  </div>
</div>

<div id="list-extras" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Listing</h3>
  </div>
  <div class="panel-body">

    <div  class="form-group">
      <label for="list-sort">Sort:</label>
      <select id="list-sort"></select>
    </div>

  </div>
</div>
</form>

</div>
</div>
<!-- controls div end -->

<div class="panel-footer">
      Notice: data are estimates and there are potential sources of error in our data and analysis.
    </div>

</div>
</div>
</div>
{% endblock %}
